---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>

  <p>
    I'm an MSc student in Neuroscience at the University of Oxford, supported by a "la Caixa" Fellowship, and I'll be staying on for a PhD in Systems Neuroscience as a Clarendon Scholar and "la Caixa" Fellow. My aim is to understand how brain dynamics support movement and cognition, with a particular focus on the cerebellum. I take a translational view of this work: I want to help improve the quality of life of people with neuropsychiatric conditions while uncovering the fundamental computations the brain performs. I'm also committed to bridging the gap between academia and industry.
  </p>

  <p>
    During my PhD, I'll investigate cerebro-cerebellar dynamics in cognition and movement using the cutting-edge OPM-MEG technology recently installed at the Oxford Centre for Human Brain Activity, supervised by <a href="#" target="_blank">Caroline Nettekoven</a>, <a href="#" target="_blank">Mark Woolrich</a>, and <a href="#" target="_blank">Laurence Hunt</a>.
  </p>

  <p>
    Before Oxford, I trained in medicine at the University of Santiago de Compostela. My long-term goal is to become a physician–scientist and to lead my own research group.
  </p>

  <p>
    Beyond science, I love spending time in Galicia — my home — surrounded by family and friends. I find calm in observing nature and in practising sport.
  </p>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  {% for paper in site.data.publications.papers %}
    <div class="paper">
      <p class="title"><b>{{ paper.title }}</b></p>
      <p>{{ paper.authors }}</p>
      <p><i>{{ paper.venue }}</i></p>
       <div class="paper-buttons">
        {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
        {% endif %}

        {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

